:root {
  /* https://hg.mozilla.org/mozilla-central/raw-file/tip/toolkit/themes/shared/in-content/common.inc.css */
  --in-content-page-color: var(--grey-90);
  --in-content-page-background: var(--grey-10);
  --in-content-text-color: var(--in-content-page-color);
  --in-content-deemphasized-text: var(--grey-60);
  --in-content-selected-text: #fff;
  --in-content-box-background: #fff;
  --in-content-box-background-hover: var(--grey-20);
  --in-content-box-background-active: var(--grey-30);
  --in-content-box-border-color: var(--grey-90-a30);
  --in-content-box-border-color-mixed: rgb(calc((249 * 0.7) + (12 * 0.3)), calc((249 * 0.7) + (12 * 0.3)), calc((250 * 0.7) + (13 * 0.3)));
  --in-content-box-info-background: var(--grey-20);
  --in-content-item-hover: rgba(69, 161, 255, 0.2); /* blue 40 a20 */
  --in-content-item-hover-mixed: rgb(calc((249 * 0.8) + (69 * 0.2)), calc((249 * 0.8) + (161 * 0.2)), calc((250 * 0.8) + (255 * 0.2)));
  --in-content-item-selected: var(--blue-50);
  --in-content-border-highlight: var(--blue-50);
  --in-content-border-focus: var(--blue-50);
  --in-content-border-hover: var(--grey-90-a50);
  --in-content-border-hover-mixed: rgb(calc((249 * 0.5) + (12 * 0.5)), calc((249 * 0.5) + (12 * 0.5)), calc((250 * 0.5) + (13 * 0.5)));
  --in-content-border-active: var(--blue-50);
  --in-content-border-active-shadow: var(--blue-50-a30);
  --in-content-border-invalid: var(--red-50);
  --in-content-border-invalid-shadow: var(--red-50-a30);
  --in-content-border-color: var(--grey-30);
  --in-content-border-color-mixed: #d7d7db;
  --in-content-category-outline-focus: 1px dotted var(--blue-50);
  --in-content-category-text-selected: var(--blue-50);
  --in-content-category-text-selected-active: var(--blue-60);
  --in-content-category-background-hover: rgba(12,12,13,0.1);
  --in-content-category-background-active: rgba(12,12,13,0.15);
  --in-content-category-background-selected-hover: rgba(12,12,13,0.15);
  --in-content-category-background-selected-active: rgba(12,12,13,0.2);
  --in-content-tab-color: #424f5a;
  --in-content-link-color: var(--blue-60);
  --in-content-link-color-hover: var(--blue-70);
  --in-content-link-color-active: var(--blue-80);
  --in-content-link-color-visited: var(--blue-60);
  --in-content-button-background: var(--grey-90-a10);
  --in-content-button-background-mixed: rgb(calc((249 * 0.9) + (12 * 0.1)), calc((249 * 0.9) + (12 * 0.1)), calc((250 * 0.9) + (13 * 0.1)));
  --in-content-button-background-hover: var(--grey-90-a20);
  --in-content-button-background-hover-mixed: rgb(calc((249 * 0.8) + (12 * 0.2)), calc((249 * 0.8) + (12 * 0.2)), calc((250 * 0.8) + (13 * 0.2)));
  --in-content-button-background-active: var(--grey-90-a30);
  --in-content-button-background-active-mixed: rgb(calc((249 * 0.7) + (12 * 0.3)), calc((249 * 0.7) + (12 * 0.3)), calc((250 * 0.7) + (13 * 0.3)));
  --blue-40: #45a1ff;
  --blue-40-a10: rgb(69, 161, 255, 0.1);
  --blue-50: #0a84ff;
  --blue-50-a30: rgba(10, 132, 255, 0.3);
  --blue-60: #0060df;
  --blue-70: #003eaa;
  --blue-80: #002275;
  --grey-10: #f9f9fa;
  --grey-10-a015: rgba(249, 249, 250, 0.015);
  --grey-10-a20: rgba(249, 249, 250, 0.2);
  --grey-20: #ededf0;
  --grey-30: #d7d7db;
  --grey-40: #b1b1b3;
  --grey-60: #4a4a4f;
  --grey-90: #0c0c0d;
  --grey-90-a10: rgba(12, 12, 13, 0.1);
  --grey-90-a11: rgba(12, 12, 13, 0.11);
  --grey-90-a20: rgba(12, 12, 13, 0.2);
  --grey-90-a30: rgba(12, 12, 13, 0.3);
  --grey-90-a40: rgba(12, 12, 13, 0.4);
  --grey-90-a50: rgba(12, 12, 13, 0.5);
  --grey-90-a60: rgba(12, 12, 13, 0.6);
  --green-50: #30e60b;
  --green-60: #12bc00;
  --green-70: #058b00;
  --green-80: #006504;
  --green-90: #003706;
  --orange-50: #ff9400;
  --purple-70: #6200a4;
  --red-50: #ff0039;
  --red-50-a10: rgba(255, 0, 57, 0.1);
  --red-50-a30: rgba(255, 0, 57, 0.3);
  --red-60: #d70022;
  --red-70: #a4000f;
  --red-80: #5a0002;
  --red-90: #3e0200;
  --yellow-10: #ffff98;
  --yellow-50: #ffe900;
  --yellow-60: #d7b600;
  --yellow-60-a30: rgba(215, 182, 0, 0.3);
  --yellow-70: #a47f00;
  --yellow-80: #715100;
  --yellow-90: #3e2800;

  /* https://hg.mozilla.org/mozilla-central/raw-file/tip/browser/themes/addons/dark/manifest.json */
  --dark-frame: #1c1b22;
  --dark-icons: rgb(251,251,254);
  --dark-ntp-background: #2A2A2E;
  --dark-ntp-text: rgb(251, 251, 254);
  --dark-popup: rgb(66,65,77);
  --dark-popup-border: rgb(82,82,94);
  --dark-popup-text: rgb(251,251,254);
  --dark-sidebar: #38383D;
  --dark-sidebar-text: rgb(249, 249, 250);
  --dark-sidebar-border: rgba(255, 255, 255, 0.1);
  --dark-tab-background-text: #fbfbfe;
  --dark-tab-line: transparent;
  --dark-toolbar: rgb(43,42,51);
  --dark-toolbar-bottom-separator: hsl(240, 5%, 5%);
  --dark-toolbar-field: rgb(28,27,34);
  --dark-toolbar-field-border: transparent;
  --dark-toolbar-field-separator: #5F6670;
  --dark-toolbar-field-text: rgb(251,251,254);
  --tab-loading-fill: #0A84FF;
  --focus-outline-color: #0061E0;
  --focus-outline-color-a40: #0061E066; /* 40% alpha */
  --bg-color: var(--grey-10);
  --text-color: var(--grey-90);
  
  /*** from proton.css ***/
  --context-menu-background-color: var(--theme-colors-popup, var(--context-menu-background-color-default));
  --context-menu-border-color: var(--theme-colors-popup_border, var(--tab-sidebar-border-color));
  --context-menu-list-highlight: var(--theme-colors-popup_highlight, var(--tab-hover-background));
  --context-menu-list-text-color: var(--theme-colors-popup_text);
  --in-content-page-background: rgb(255,255,255);
  --toolbar-non-lwt-bgcolor: var(--in-content-page-background);
  --toolbar-non-lwt-textcolor: var(--in-content-page-color);
  --toolbar-non-lwt-bgimage: linear-gradient(var(--browser-selected-tab-bg, var(--non-lwt-selected-tab-background-color-proton, transparent)),
                                             var(--browser-selected-tab-bg, var(--non-lwt-selected-tab-background-color-proton, transparent))),
                             linear-gradient(var(--toolbar-bgcolor, transparent),
                                             var(--toolbar-bgcolor, transparent)),
                             var(--lwt-header-image, none);
  --tab-like-surface: var(--theme-colors-toolbar, var(--browser-bg-active-for-header-image, var(--browser-bg-base, var(--toolbar-non-lwt-bgcolor))));
  --tab-surface-regular: transparent;
  --tab-surface-active-bgimage: var(--toolbar-non-lwt-bgimage);
  --tab-text-regular: var(--browser-fg, var(--toolbar-non-lwt-textcolor));
  --tab-text-inverted: var(--browser-bg-more-lighter, var(--toolbar-non-lwt-bgcolor));
  --tab-text-active: var(--browser-fg-active, var(--toolbar-non-lwt-textcolor));
  --tab-text-active-inverted: var(--toolbar-non-lwt-bgcolor);
  --tab-border: var(--browser-border, var(--browser-bg-more-darker, var(--in-content-box-border-color-mixed)));
  --tab-active-border-near: var(--browser-bg-active-for-header-image, var(--grey-90-a40) /* color-mix(in srgb, var(--grey-90, currentcolor) 40%, transparent) */);
  --tab-active-border-far: var(--browser-bg-active-for-header-image, var(--grey-90-a20) /* color-mix(in srgb, var(--grey-90, currentcolor) 20%, transparent) */);
  --tab-surface-active: var(--browser-selected-tab-bg, var(--tab-like-surface, var(--in-content-button-background-mixed)));
  --tab-sidebar-border-color: var(--theme-colors-sidebar_border, var(--theme-colors-toolbar_top_separator, var(--tab-sidebar-border-default-color)));
  --tab-dropmarker: var(--browser-fg, var(--toolbar-non-lwt-textcolor));
  --throbber-color: var(--browser-loading-indicator, var(--tab-loading-fill)); /**/
  --throbber-color-active: var(--browser-loading-indicator, var(--tab-loading-fill)); /**/
  --tabbar-bg: var(--theme-colors-toolbar, var(--sidebar-background-color-default));
  --tab-highlighted-glow: rgb(42, 195, 162); /* https://searchfox.org/mozilla-central/rev/74f3c420ee54001059e1850bef3be876749ff873/browser/themes/shared/tabs.inc.css#927 */
  --multiselected-color: var(--tab-surface-active);
}

button,
select {
  background: var(--in-content-button-background-mixed);
  border: 0 none transparent;
  color: var(--in-content-text-color);
}
button:hover,
select:hover {
  background: var(--in-content-button-background-hover-mixed);
}
button:focus,
select:focus {
  background: var(--in-content-button-background-active-mixed);
  box-shadow: 0 0 0 1px var(--in-content-border-active),
              0 0 0 4px var(--in-content-border-active-shadow);
}
option {
  background: var(--bg-color);
  color: var(--text-color);
}
option:active,
option:focus {
  background: var(--in-content-item-selected);
}
option:hover {
  background: var(--in-content-item-hover-mixed);
}

@media (prefers-color-scheme: dark) {
  :root.sidebar,
  :root:not(.sidebar) {
    /* https://hg.mozilla.org/mozilla-central/raw-file/tip/toolkit/themes/shared/in-content/common.inc.css */
    --in-content-page-background: #2A2A2E /* rgb(42, 42, 46) */;
    --in-content-page-color: rgb(249, 249, 250);
    --in-content-text-color: var(--in-content-page-color);
    --in-content-deemphasized-text: var(--grey-40);
    --in-content-box-background: #202023;
    --in-content-box-background-hover: /* rgba(249,249,250,0.15) */ rgb(calc((42 * 0.85) + (249 * 0.15)), calc((42 * 0.85) + (249 * 0.15)), calc((46 * 0.85) + (250 * 0.15)));
    --in-content-box-background-active: /*rgba(249,249,250,0.2) */ rgb(calc((42 * 0.8) + (249 * 0.2)), calc((42 * 0.8) + (249 * 0.2)), calc((46 * 0.8) + (250 * 0.2)));
    --in-content-box-background-odd: rgba(249,249,250,0.05);
    --in-content-box-info-background: rgba(249,249,250,0.15);
    --in-content-border-color: rgba(249,249,250,0.2);
    --in-content-border-color-mixed: rgb(calc((42 * 0.8) + (249 * 0.2)), calc((42 * 0.8) + (249 * 0.2)), calc((46 * 0.8) + (250 * 0.2)));
    --in-content-border-hover: rgba(249,249,250,0.3);
    --in-content-border-hover-mixed: rgb(calc((42 * 0.7) + (249 * 0.3)), calc((42 * 0.7) + (249 * 0.3)), calc((46 * 0.7) + (250 * 0.3)));
    --in-content-box-border-color: rgba(249,249,250,0.2);
    --in-content-box-border-color-mixed: rgb(calc((42 * 0.8) + (249 * 0.2)), calc((42 * 0.8) + (249 * 0.2)), calc((46 * 0.8) + (250 * 0.2)));
    --in-content-button-background: rgba(249,249,250,0.1);
    --in-content-button-background-mixed: rgb(calc((42 * 0.9) + (249 * 0.1)), calc((42 * 0.9) + (249 * 0.1)), calc((46 * 0.9) + (250 * 0.1)));
    --in-content-button-background-hover: rgba(249,249,250,0.15);
    --in-content-button-background-hover-mixed: rgb(calc((42 * 0.85) + (249 * 0.15)), calc((42 * 0.85) + (249 * 0.15)), calc((46 * 0.85) + (250 * 0.15)));
    --in-content-button-background-active: rgba(249,249,250,0.2);
    --in-content-button-background-active-mixed: rgb(calc((42 * 0.8) + (249 * 0.2)), calc((42 * 0.8) + (249 * 0.2)), calc((46 * 0.8) + (250 * 0.2)));
    --in-content-link-color: var(--blue-40);
    --in-content-link-color-hover: var(--blue-50);
    --in-content-link-color-active: var(--blue-60);
    --focus-outline-color-a40: #00DDFF66; /* 40% alpha */
    --bg-color: var(--in-content-page-background);
    --text-color: var(--in-content-text-color);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --context-menu-background-color-default: #3b3b3b;
    --sidebar-background-color-default: #3B3B3B;
    --tab-highlighter: var(--browser-tab-highlighter, var(--dark-tab-line));
    --tab-highlighted-glow: rgb(84, 255, 189);
	--tab-hover-background: #ffffff45;
    --tab-sidebar-border-default-color: #686868;
    --toolbar-non-lwt-bgcolor: rgb(66,65,77);
    --contextual-identity-brightness: 115%;
  }
}
@media not (prefers-color-scheme: dark) {
  :root {
    --context-menu-background-color-default: #F7F7F7;
    --tab-hover-background:#0000000F;
    --tab-sidebar-border-default-color: #B8B8B8;
    --sidebar-background-color-default: #F7F7F7;
    --contextual-identity-brightness: 85%;
  }
:root[color-scheme="system-color"][data-user-agent*="Linux"] {
  --toolbar-non-lwt-textcolor: -moz-dialogtext;
  --toolbar-non-lwt-bgcolor: -moz-dialog;
  --in-content-box-border-color-mixed: ThreeDShadow;
}
:root[color-scheme="system-color"][data-user-agent*="Linux"] #background {
  --tabbar-bg: AppWorkspace;
}

  /* we cannot know the GNOME3 "headerbar" color, so use inverted menu color instead. */
  :root[color-scheme="system-color"][data-user-agent*="Linux"]
    tab-item:not(.active):not(.bundled-active):not(.highlighted),
  :root[color-scheme="system-color"][data-user-agent*="Linux"]
    .after-tabs button,
  :root[color-scheme="system-color"][data-user-agent*="Linux"]
    .after-tabs [role="button"],
  :root[color-scheme="system-color"][data-user-agent*="Linux"]
    #subpanel-selector-anchor,
  :root[color-scheme="system-color"][data-user-agent*="Linux"]
    #background {
    --toolbar-non-lwt-bgcolor: Menu;
    --toolbar-non-lwt-textcolor: Menu;
    --tabbar-bg: var(--toolbar-non-lwt-bgcolor);
    /* these colors need to redefined here to apply new --toolbar-non-lwt-textcolor */
    --tab-text-regular: var(--browser-fg, var(--toolbar-textcolor));
    --tab-text-active: var(--browser-fg-active, var(--toolbar-non-lwt-textcolor));
    --tab-dropmarker: var(--browser-fg, var(--toolbar-non-lwt-textcolor));
  }
}

/***************
Main body layout
****************/

:root{
  --scrollbar-placeholder-size: 1.2em;
  --favicon-size: 16px;
  --color-animation: 0s ease-out;
  --scrollbar-placeholder-size: 10px;
  --separator-pinned-overflow-tabs: calc(100% - calc(var(--tab-margin-left) * 2));
  --subpanel-header-height: 28px;
  --subpanel-toggler-font-size: 8px;
  --subpanel-toggler-width: 20px;
  --tab-border-radius-size: 0.35em;
  --tab-dropshadow-size: 0.2em;
  --tab-margin-left: 0.65em;
  --tab-margin-right: var(--tab-margin-left);
  --tab-dropmarker-size: 2px;
  --tab-item-substance-height: 32px;
  --after-tabs-area-size: calc(var(--tab-item-substance-height) + calc(var(--tab-margin-left)*2)) !important;
  --newtab-button-box-width: 100%;
  --tab-sound-button-icon-size: 85%;
  --sound-button-size: 20px;
  --newtab-margin-left: calc(var(--svg-small-icon-size) - 0.45em);
  overflow: hidden;
}

/** Container background **/

:root,
body,
#background {
  background-color: var(--browser-background, var(--tabbar-bg));
  background-image: var(--browser-bg-images, none);
  background-position: var(--browser-bg-position, left);
  background-size: var(--browser-bg-size, auto);
  background-repeat: repeat-y;
}
:root.right,
:root.right #background {
  background-position: right;
}

/*******
Tab Bar
********/


#tabbar-container {
  transition: none;
}
:root.left #tabbar {
  direction: ltr;
}
:root.right #tabbar {
  direction: rtl;
}
#tabbar.overflow {
  padding-right: 0.2em;
}
:root{
  --tabbar-margin-top: calc(var(--pinned-tabs-area-size) + var(--tab-margin-left));
}
:root.have-pinned-tabs #tabbar-container::before {
  content: "";
  position: absolute;
  display: block;
  top: var(--tabbar-margin-top);
  opacity: 0.45 !important;
  border-top: 1px solid var(--tab-text);
  width: var(--separator-pinned-overflow-tabs) !important;
  left: var(--tab-margin-left) !important;
  z-index: 101 !important;
}
#tabbar-container {
  top: 0;
}
:root, * > * {
  --visual-gap-offset: 0.65em !important;
}
:root.have-pinned-tabs #tabbar {
  margin-top: calc(var(--tabbar-margin-top) + var(--tab-margin-left));
}
.tabs-spacer {
  display: none !important;
}


/** Tab Items **/


tab-item {
  --faviconized-tab-size: 32px;
  --tab-size: 32px;
  --tab-margin-top: 1.5px;
  --tab-max-width-inline-block: calc(100% - calc(var(--tab-margin-right) + calc(var(--tab-margin-left) + var(--tab-indent))));
  border-radius: var(--tab-border-radius-size) !important;
  overflow: visible;
  height: var(--tab-size);
  max-width: var(--tab-max-width-inline-block);
  margin-left: calc(var(--tab-margin-left) + var(--tab-indent)) !important;
}
tab-item:not(.collapsed):not(.faviconized) {
  display: inline-block;
  margin-top: 1.5px;
  margin-bottom: 1.5px;
}
tab-item:not(.group-tab):not(.faviconized) {
  min-width: var(--tab-max-width-inline-block);
}

tab-item-substance {
  margin: 0 !important;
  overflow: visible !important;
  min-width: var(--tab-size);
}
tab-item-substance,
tab-item-substance .background,
tab-item-substance .contextual-identity-marker {
  border-radius: var(--tab-border-radius-size);
}

tab-item.active > tab-item-substance,
.pinned.in-visible-area.active {
  box-shadow: 0 0.2em 0.4em var(--browser-tab-highlighter, var(--tab-active-border-near)), 0 0 var(--tab-dropshadow-size) var(--browser-tab-highlighter, var(--tab-active-border-far));
  outline: 1px solid var(--theme-colors-tab_line);
}
tab-item.group-tab.active > tab-item-substance {
  outline: 2px solid var(--theme-colors-tab_line);
}

.bundled-active,
.pinned.bundled-active.in-visible-area {
  box-shadow: 0 0em 0.2em var(--browser-tab-highlighter, var(--tab-active-border-near)), 0 0 var(--tab-dropshadow-size) var(--browser-tab-highlighter, var(--tab-active-border-far));
}
tab-item:not(.group-tab).active,
tab-item:not(.group-tab).active:hover,
tab-item:not(.group-tab).bundled-active,
tab-item:not(.group-tab).bundled-active:hover,
.mutiple-highlighted > tab-item:not(.group-tab).highlighted,
.mutiple-highlighted > tab-item:not(.group-tab).highlighted:hover {
  --tab-surface: var(--tab-surface-active);
  --tab-surface-bgimage: var(--tab-surface-active-bgimage);
  --tab-text: var(--tab-text-active);
  --tab-text-inverted: var(--tab-text-active-inverted);
}
tab-item:not(.active):not(.bundled-active):not(.highlighted):hover,
tab-item:not(.active):not(.bundled-active):not(.highlighted):focus{
  --tab-surface: var(--tab-text-regular);
  --tab-text: var(--tab-text-regular);
}
tab-item:not(.active):not(.bundled-active):not(.highlighted) tab-item-substance .background {
  opacity: 0;
  transition: opacity 0.3s;
}
tab-item:not(.active):not(.bundled-active):not(.highlighted) tab-item-substance:hover .background {
  opacity: 0.15;
}
tab-item.dragging {
  opacity: 1.0 !important;
}

/** auto-hidden scrollbar placeholder workaround **/

:root #tabbar.overflow.scrollbar-autohide tab-item:not(.pinned) tab-item-substance {
  margin-left: var(--scrollbar-placeholder-size) !important;
  margin-right: var(--scrollbar-placeholder-size) !important;
}

tab-item[data-drop-position="self"] {
  outline: var(--tab-dropmarker-size) solid var(--tab-dropmarker);
}
tab-item[data-drop-position="self"] tab-item-substance {
  outline: unset !important;
}
tab-item-substance::before {
  display: none !important;
}
tab-item[data-drop-position]:not([data-drop-position="self"])::before {
  display: block;
  width: 100%;
  position: absolute;
  content: "";
  z-index: 10000 !important;
  border-top: var(--tab-dropmarker-size) solid var(--tab-dropmarker);
}
tab-item[data-drop-position="after"]:not([data-drop-position="before"])::before {
  bottom: 0;
}

tab-item.discarded tab-item-substance {
  opacity: 0.4;
}
tab-item.discarded:hover tab-item-substance {
  opacity: 0.8;
}

/** Pinned Tabs **/

/** Icon-Only Pinned Tabs **/

/*Workaround - https://github.com/piroor/treestyletab/issues/1704#issuecomment-362404420*/
#dummy-favicon-size-box {
  min-height: calc(var(--tab-item-substance-height)*0.72) !important;
}
tab-item.faviconized {
  max-width: var(--tab-size) !important;
  outline: 1px solid rgba(0,0,0,0); /**debug purposes only**/
}
tab-item.faviconized .contextual-identity-marker {
  --contextual-identity-marker-margin: unset;
  --contextual-identity-marker-width: 100%;
}
tab-item.faviconized tab-item-substance {
  padding: 0 !important;
}


/* group tab */

.group-tab {
  --tab-size: 24px;
  --tab-margin-top: 4px;
  --tab-margin-bottom: 4px;
  --tab-group-max-width-inline-block: calc(var(--tab-max-width-inline-block) - calc(8px + 48px));
  overflow: visible;
  max-width: var(--tab-group-max-width-inline-block);
  height: var(--tab-size);
  margin-left: calc(4px + var(--tab-margin-left) + var(--tab-indent)) !important;
}
.group-tab:not(.collapsed) {
  margin-top: var(--tab-margin-top) !important;
  margin-bottom: var(--tab-margin-bottom) !important;
}
.group-tab.collapsed {
  margin: unset !important;
  height: 0;
}
.group-tab tab-item-substance {
  display: flex !important;
  height: 100%;
  padding: 0 !important;
  position: relative;
}
.group-tab tab-item-substance * {
  color: var(--tab-text-active-inverted) !important;
}
.group-tab .background,
.group-tab .contextual-identity-marker {
  background: var(--tab-text);
}
.group-tab .twisty {
  --favicon-size: none;
  position: absolute !important;
  width: 100%;
  height: 100%;
}
.group-tab .twisty::before {
  --favicon-size: 9px !important;
  --svg-small-icon-size: 9px !important;
  position: absolute;
  margin: 0 !important;
  translate: 85% calc(calc(24px/2) - calc(9px/1.75));
  transform: rotateZ(0deg) scale(1.0) !important;
  transform-origin: 100% 100%;
  border-radius: 2px;
  background: linear-gradient(315deg, var(--tab-text-active-inverted, black) 50%, transparent 0) !important;
  mask: none !important;
  transition: transform 0.05s ease-in !important;
}
.group-tab.subtree-collapsed tab-twisty::before {
  transform: rotateZ(-45deg) translateY(-30%) translateX(30%) !important;
  transition: transform 0.05s ease-in !important;
}
.group-tab .favicon,
.group-tab .extra-items-container:not(.indent),
.group-tab:not(.subtree-collapsed) .closebox {
  display: none !important;
}
.group-tab .closebox {
  position: absolute !important;
  left: 0;
  bottom: 12.5%;
  margin-left: calc(100%);
}
.group-tab:not(.faviconized) .sound-button::after {
  background: var(--tab-text-active-inverted);
}
.group-tab .contextual-identity-marker {
  filter: brightness(var(--contextual-identity-brightness)) !important;
}
.group-tab:not(.has-sound-playing-member) .label {
  margin-left: 8px;
}
.group-tab[data-child-ids]:not(.subtree-collapsed) .label,
.group-tab .counter {
  margin-right: 8px;
}
.group-tab.some-descendants-highlighted .label,
.group-tab[data-child-ids]:not(.has-sound-playing-member) .label,
.group-tab.highlighted:not(.subtree-collapsed)[data-child-ids] .label,
.group-tab .sound-button {
  margin-left: var(--tab-size);
}

.group-tab .indent{
  left: unset !important;
  right: 0 !important;
  top: unset !important;
  bottom: unset !important;
  margin-right: var(--tab-margin-right);
  position: absolute !important;
  float: right !important;
  width: 18px !important;
  height: 18px !important;
  z-index: 1000000 !important;
  color: var(--tab-text);
  justify-content: center;
  border-radius: 0.25em;
  display: none;
}
.group-tab .indent::before {
  position: absolute;
  content:"";
  height: inherit;
  width: inherit;
}
.group-tab .indent:hover::before {
  background: var(--tab-text);
  opacity: 0.2;
}
.group-tab .indent::after {
  font: normal normal bold 1em sans-serif;
  content: "\2026" !important;
}
.group-tab .background {
  opacity: 0.9;
}




/***********
Tab contents
************/

/** Tab Background **/

.background {
  background-color: var(--tab-surface);
  background-image: var(--tab-surface-bgimage);
}

/* YES ITS "MUTiple not MULTiple*/
.mutiple-highlighted > .highlighted .background,
.mutiple-highlighted > .highlighted .contextual-identity-marker {
  outline: 2px solid var(--focus-outline-color);
  outline-offset: -2px;
}
.highlighted.active .background {
  outline-width: 4px;
  outline-offset: -4px;
}
tab-item {
  color: var(--tab-text);
}
tab-item.removing, tab-item:not(.pinned).collapsed, tab-item.duplicating {
  margin-top: calc(0px - var(--tab-current-size) - var(--tab-margin-bottom));
  pointer-events: none;
  z-index: var(--invisible-z-index);
}

tab-item:not(.group-tab) .twisty {
  margin-right: calc(0px - calc(calc(var(--tab-size)/2) - calc(16px/8)));
}
tab-item:not(.group-tab) .twisty::before {
  margin: 0;
  mask-size: 50% !important;
  position: absolute;
}
.counter {
  font-size: 10px;
  line-height: 1;
  border: 1px solid;
  border-radius: 8px;
  padding: 0em 0.3em;
  margin-left: 0.3em;
}
.counter::before,
.counter::after {
  display: none;
}
tab-label {
  flex: 1 1 auto;
  height: auto;
  padding: 6px 0;
  margin-bottom: 0.25em;
}

.favicon {
  --favicon-size: var(--tab-item-substance-height);
  display: inline-block;
}
.favicon > * {
  --favicon-size: 16px;
  height: var(--favicon-size);
  width: var(--favicon-size);
  position: absolute !important;
  translate: 50% 50% !important;
}
.throbber {
  fill: var(--tab-text) !important;
}

tab-item:not(.faviconized) .sound-button {
  margin-right: 0.1em;
}

.closebox {
  flex: 0 0 18px;
  height: 18px;
  width: 18px;
  margin-right: 0.5em;
}
.closebox::before,
.closebox::after {
  position: absolute;
  border-radius: 15%;
  content: "";
}
.closebox::before {
  height: inherit;
  width: inherit;
}
.closebox::after {
  height: 14px;
  width: 14px;
  transform-origin: 0% 0%;
  transform: translate(12.5%, 12.5%);
}
tab-item:not(.faviconized) .sound-button::before,
tab-item:not(.faviconized) .sound-button::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  height: inherit;
  width: inherit;
}
tab-item:not(.faviconized) .sound-button::after {
  mask-size: var(--tab-sound-button-icon-size) !important;
  mask-position: 35% 50% !important;
}
tab-item:not(.faviconized) .sound-button::after,
tab-tem:not(.faviconized) .closebox::after {
  background: var(--tab-text);
}
.closebox:hover::before,
.sound-button:hover::before {
  background: var(--tab-text) !important;
  opacity: 0.15;
}
.closebox:active::before,
.sound-button:active::before {
  opacity: 0.4;
}


tab-item:not(.subtree-collapsed).group-tab .background,
tab-item:not(.subtree-collapsed).group-tab .contextual-identity-marker {
  grid-area: 1/1/1/span 3 !important;
}

/**Order of Tab Contents**/

.favicon {
  order: 0;
}
.sound-button {
  order: 1;
}
tab-item .label {
  order: 2;
}
.counter {
  order: 3;
}

.highlighter {
  display: none !important;
}

/** Contextual identity marker in tab-item **/

.contextual-identity-marker {
  z-index: 10;
  top: 0 !important;
  bottom: 0 !important;
  min-width: 100% !important;
  opacity: 0.3;
}
.active .contextual-identity-marker {
  opacity: 0.7;
}
.pinned .contextual-identity-marker {
  opacity: 0.5;
}
.discarded .contextual-identity-marker {    
  opacity: 0.2;
}
.group-tab .contextual-identity-marker {
  opacity: 1.0;
}

/**Pinned Tabs**/

.pinned .closebox,
.pinned .twisty {
  display: none !important;
}

/**Icon-Only Pinned Tabs**/

.faviconized {
  padding: 0 !important;
}
.faviconized tab-label {
  display: none !important;
}
tab-item.faviconized {
  --attention-marker-x-offset: calc(0px);
  --attention-marker-y-offset: calc(0px);
  --attention-marker-gradient: #00000000;
  --attention-marker-gradient-hover: var(--attention-marker-gradient);
}
.faviconized.unread tab-item-substance tab-favicon::before,
.attention tab-favicon::before {
  height: 6px;
  width: 6px;
  outline: 1px solid var(--tab-text);
  background: #FF0000;
  z-index: 100;
  border-radius: 100%;
  position: absolute;
  translate: 22px 6px;
}
.faviconized tab-sound-button {
  border-radius: 100%;
  background-color: var(--tab-surface-active);
  opacity: 1.0;
}
.faviconized tab-sound-button::before {
  transform: none !important;
}
.faviconized tab-sound-button::after {
  mask-size: 85% !important;
}


/******************
New tab button area
*******************/

.after-tabs button,
.after-tabs [role="button"] {
  color: var(--tab-text);
  height: 32px;  
  line-height: 32px;
  position: relative !important;
}
.after-tabs button::before,
.after-tabs [role="button"]::before {
  background-color: var(--tab-text);
  border-radius: 0.2em;
  content: "";
  position: absolute;
}
.after-tabs button:hover::before,
.after-tabs [role="button"]:hover::before {
  height: 100%;
  width: 100%;
  opacity: 0.1;
}
.after-tabs {
  height: var(--after-tabs-area-size) !important;
  margin: 0 var(--tab-margin-left) 0 var(--tab-margin-right);
}
.newtab-button-box {
  border-top: 1px solid var(--tab-sidebar-border-color);
  height: calc(var(--after-tabs-area-size) - 4px);
  width: var(--newtab-button-box-width);
  padding-top: 4px;
  padding-bottom: var(--tab-margin-left);
  flex-wrap: wrap-reverse !important;
  flex-direction: column !important;
  align-items: start;
}
.newtab-button {
  display: flex;
  transform: translateX(16px);
  width: 100%;
  align-items: center;
}
.newtab-button::after {
  height: 15px;
  width: 15px;
  margin-left: var(--newtab-margin-left);
  background: linear-gradient(to bottom, #00000000 46%, var(--tab-text) 48%, var(--tab-text) 53%,  #00000000 0%),
    linear-gradient(to right, #00000000 46%, var(--tab-text) 48%, var(--tab-text) 53%, #00000000 0%) !important;
  mask: none !important;
}
.newtab-button .extra-items-container {
  left: calc(var(--newtab-margin-left) + 15px + 0.75em) !important;
  right: calc(var(--svg-small-icon-size) + 0.5em) !important;
  justify-content: space-between;
}
.newtab-button .extra-items-container::before {
  content: "New tab";
}
.newtab-button .extra-items-container::after {
  opacity: 0.75;
  content: "Ctrl+T";
}

.newtab-action-selector-anchor,
.contextual-identities-selector-anchor {
  padding: 0 !important;
  margin: 0 !important;
  height: 15px !important;
  border: none !important;
}

.newtab-action-selector-anchor.open::before,
.contextual-identities-selector-anchor.open::before {
  background: var(--tab-text);
  opacity: 0.1;
  height: 100%;
  width: 100%;
}


/**Bottom Tab Bar Area**/


#subpanel-container.collapsed {
  pointer-events: none;
  cursor: auto;
}
#subpanel-header {
  border-top: 1px solid var(--tab-border, var(--theme-colors-sidebar_border));
  padding: 0;
  margin-bottom: 0.1em;
  height: var(--subpanel-header-height);
}
#subpanel-container:not(.collapsed) #subpanel-header {
  border-bottom: none;
  box-shadow: 0 1px 0 var(--tab-border, var(--theme-colors-sidebar_border));
}
#subpanel-header-main,
#subpanel-toggler {
  pointer-events: auto;
}
#subpanel-header > * {
  height: var(--subpanel-header-height);
}
#subpanel-header-main {
  flex-grow: 0;
  padding: 2px;
  width: auto;
}
#subpanel-selector-anchor {
  position: relative;
  padding: 0;
  width: inherit;
}
#subpanel-selector-anchor > .icon {
  margin: 0 8px;
}
#subpanel-toggler {
  position: relative;
  padding: 2px;
  width: var(--subpanel-toggler-width);
  max-width: none;
  justify-content: center;
}
#subpanel-toggler::before{
  position: absolute;
  height: auto;
  width: auto;
  margin: 0;
}

/** for buttons **/

#subpanel-selector-anchor::before,
#subpanel-selector-anchor.open::before, 
#subpanel-toggler::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  z-index: -1;
}
#subpanel-toggler::after {
  position: relative;
}
#subpanel-selector-anchor:hover::before,
#subpanel-selector-anchor.open::before,
#subpanel-toggler:hover::after {
  background: var(--tab-text);
  opacity: 0.1;
}



/*************************
Context menu/popup theming
*************************/
.menu-ui.panel {
  transform: scale(1.2);
  transition: transform 0.2s ease-out, opacity 100ms ease-out !important;
}
.menu-ui.panel.open {
  transform: scale(1.0);
}

.menu-ui {
  box-shadow: none !important;
  padding: 8px !important;
  border-color: var(--context-menu-border-color);
  border-radius: calc(var(--tab-border-radius-size)*2);
  border-width: 1px ;
  border-style: solid;
  --menu-ui-background-color: var(--context-menu-background-color);
  --menu-ui-text-color: var(--tab-text);
  --menu-ui-background-color-active: var(--tab-text);
  --menu-ui-text-color-active: var(--tab-text);
}
.menu-ui-marker.panel.bottom,
.menu-ui-marker.panel.top {
  display: none;
}
.menu-ui > li:not(.separator) {
  height: 32px !important;
  line-height: 32px !important;
  min-width: 128px;
  padding: 0em 6px;
}
#tabContextMenu > li.separator {
  padding: 0px 0px !important;
  margin: 4px 0px !important;
  border: none;
  height: 1px !important;
  max-height: 1px;
  background: var(--context-menu-border-color);
}
#newtab-action-selector > li,
#contextual-identities-selector > li {
  padding-left: 2.5em;
}
.menu-ui > li:focus {
  background-color: #00000000 !important;
}

ul:not(#subpanel-selector).menu-ui li::before,
#subpanel-selector li::after {
  content: "";
  border-radius: var(--tab-border-radius-size);
  display: inline-block;
  position: absolute;
  left: 8px;
  height: inherit;
  width: calc(100% - 16px);
}
#subpanel-selector > li::before {
  position: relative;
  left: 0;
}
ul:not(#subpanel-selector).menu-ui li:hover::before,
#subpanel-selector li:hover::after {
  background: var(--tab-text);
  opacity: 0.15;
}
#newtab-action-selector .icon {
  min-height: 32px !important;
  margin-left: 8px;
}
#subpanel-selector.menu-ui > li > .icon {
  margin: 0em 0.5em;
}


.rich-confirm.type-common-dialog.windows.show.shown {
  scale: 1.0;
  transition: scale 0.15s ease-in, opacity 0.15s ease-in;
}
.rich-confirm.type-common-dialog.windows.show {
  scale: 1.03;
}
.rich-confirm-dialog.windows[role="dialog"] {
  align-self: middle;
  max-width: 90% !important;
  margin: 1em !important;
}
:root:not([data-user-agent*="Linux"]) .rich-confirm-dialog {
  border-radius: calc(var(--tab-border-radius-size)*1.75);
  padding: 0em;
  max-width: 100%;
  min-width: 152px;
}
:root:not([data-user-agent*="Linux"]) .rich-confirm-dialog > div,
:root:not([data-user-agent*="Linux"]) .rich-confirm-dialog > label {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
:root:not([data-user-agent*="Linux"]) .rich-confirm-content {
  padding-top: 0.5em;
}
:root:not([data-user-agent*="Linux"]) .rich-confirm-check-label {
  padding-bottom: 0.75em;
  margin: 0;
}

:root:not([data-user-agent*="Linux"]) .rich-confirm-check-checkbox {
  border: none;
  position: absolute;
}
:root:not([data-user-agent*="Linux"]) .rich-confirm-check-message {
  margin-left: 24px;
}
:root:not([data-user-agent*="Linux"]) .rich-confirm-buttons {
  flex-direction: row;
  box-shadow : 0 -1px 0 var(--in-content-button-background-active);
  background: var(--in-content-category-background-hover);
  padding: 0.75em;
  margin: 0;
}
:root:not([data-user-agent*="Linux"]) .rich-confirm-buttons button {
  background: var(--in-content-page-background);
  border-radius: calc(var(--tab-border-radius-size)*0.75);
  width: 50%;
  margin: 0.25em;
  padding: 0.4em;
  box-shadow: 0 0 0 1px var(--in-content-button-background-active);
}
:root:not([data-user-agent*="Linux"]) .rich-confirm-buttons button[title="Close tabs"] {
  color: var(--in-content-page-background);
  background: var(--in-content-link-color);
}
:root:not([data-user-agent*="Linux"]) .rich-confirm-buttons button:hover {
  opacity: 0.6;
}

/************************
Hover-over sidebar layout
************************/

@media screen and (min-width: 0px) and (max-width: 48px) {
  
  /** Main body layout **/
  
  :root {
    --separator-pinned-overflow-tabs: calc(48px - calc(var(--tab-margin-left) * 2));
    --sound-button-size: 32px;
    --newtab-margin-left: calc(var(--svg-small-icon-size) - var(--tab-margin-left));
    --newtab-button-box-width: 32px;
    --tab-sound-button-icon-size: 70%;
  }
  #tabbar-container {
    min-width: 258px !important; /*for layout purpose!*/
  }
  .tabs {
    width: 48px;
  }
  
  /** Tab items **/
  
  tab-item:not(.faviconized) {
    --tab-indent: 0em !important;
  }
  /** Tab Contents **/
  
  .counter,
  tab-item:not(.group-tab) .twisty,
  .closebox {
    display: none !important;
  }
  .sound-button {
  	min-width: var(--tab-size) !important;
    margin-left: calc(0px - var(--tab-size)) !important;
    opacity: 1.0;
    background: var(--tab-surface-active);
  }
  
  /** New Tab Button **/
  .newtab-button .extra-items-container,
  .newtab-action-selector-anchor,
  .contextual-identities-selector-anchor {
    display: none !important;
  }
  .newtab-button {
    transform: translateX(0px);
  }
  
  /** Subpanel/Bottom Tabbar **/
  
  #subpanel-selector-toggler,
  #subpanel-selector-anchor .label,
  #subpanel-selector-anchor::after {
    display: none !important;
  }
}