/** OVERRIDING PROTON.CSS **/


tab-item-substance,
.after-tabs button,
.after-tabs [role="button"],
#subpanel-selector-anchor {
  border: unset;
  border-width: unset;
  position: unset;
}

tab-item,
.after-tabs button,
.after-tabs [role="button"],
#subpanel-container,
#dummy-tab-color-box {
  --tab-surface: unset;
  --tab-text: unset;
  --tab-text-shadow: unset;
}
tab-item-substance,
.after-tabs button,
.after-tabs [role="button"],
#subpanel-container,
#dummy-tab-color-box {
  background: unset;
  color: unset;
  line-height: unset;
  text-shadow: unset;
}

tab-item.active,
tab-item.active:hover,
tab-item.bundled-active,
tab-item.bundled-active:hover,
.mutiple-highlighted > tab-item.highlighted,
.mutiple-highlighted > tab-item.highlighted:hover {
  --tab-surface: unset;
  --tab-surface-bgimage: unset;
  --throbber-color: unset;
  --tab-text: unset;
  --tab-text-inverted: unset;
}

tab-item:not(.active):not(.bundled-active):not(.highlighted):hover,
.after-tabs button:hover,
.after-tabs [role="button"]:hover,
#subpanel-selector-anchor:hover {
  --tab-surface: unset;
  --tab-text: unset;
}

tab-item-substance {
  padding: unset;
  z-index: unset;
}

.after-tabs button,
.after-tabs [role="button"] {
  --tab-like-button-padding: unset !important;
  padding: unset;
  z-index: unset;
}

:root.left tab-item:not(.pinned) tab-item-substance,
:root.left .after-tabs button:not([data-menu-ui]),
:root.left .after-tabs [role="button"]:not([data-menu-ui]) {
  padding-right: unset;
}

:root.right tab-item:not(.pinned) tab-item-substance,
:root.right .after-tabs button:not([data-menu-ui]),
:root.right .after-tabs [role="button"]:not([data-menu-ui]) {
  padding-left: unset;
}


/* tab background */

.after-tabs button::before,
.after-tabs [role="button"]::before,
#subpanel-selector-anchor::before {
  content: unset;
  display: unset;
  position: unset;
}

tab-item .background,
.after-tabs button:hover::before,
.after-tabs [role="button"]:hover::before,
#subpanel-selector-anchor:hover::before {
  background-color: var(--tab-surface);
  background-image: var(--tab-surface-bgimage);
  border-radius: var(--tab-border-radius-size);
}

tab-item.faviconized .background {
  --tab-dropshadow-padding: unset;
}

#subpanel-selector-anchor:hover::before {
  bottom: unset;
  left: unset;
  right: unset;
  top: unset;
}

tab-item.active .background,
tab-item.active tab-item-substance:hover .background,
tab-item.bundled-active .background,
tab-item.bundled-active tab-item-substance:hover .background,
.mutiple-highlighted > tab-item.highlighted .background,
.mutiple-highlighted > tab-item.highlighted tab-item-substance:hover .background {
  box-shadow: unset;
  outline: unset;
  outline-offset: unset;
}

tab-item:not(.active):not(.bundled-active):not(.highlighted) tab-item-substance:hover .background,
.after-tabs button:hover::before,
.after-tabs [role="button"]:hover::before,
#subpanel-selector-anchor:hover::before {
  opacity: unset;
}
.mutiple-highlighted > tab-item.highlighted .background,
.mutiple-highlighted > tab-item.highlighted tab-item-substance:hover .background {
  outline: unset;
  outline-offset: unset;
}
.mutiple-highlighted > tab-item.highlighted.active .background,
.mutiple-highlighted > tab-item.highlighted.active tab-item-substance:hover .background {
  outline-width: unset;
  outline-offset: unset;
}


tab-item * {
  color: unset;
}

tab-item tab-label {
  margin-left: unset;
  padding: unset;
}

tab-item tab-favicon {
  margin-bottom: unset;
  margin-top: unset;
}

tab-item tab-closebox {
  background: unset;
  border: unset;
  margin: unset;
  padding: unset;
}

tab-item tab-closebox::before,
tab-item:not(.faviconized) tab-sound-button::before {
  border-radius: unset;
  content: unset;
  display: unset;
  height: unset;
  margin-left: unset;
  margin-top: unset;
  width: unset;
  position: unset;
}

tab-item tab-closebox:hover::before,
tab-item:not(.faviconized) tab-sound-button:hover::before {
  background: unset;
  box-shadow: unset;
  opacity: unset;
}

tab-item tab-closebox:active::before,
tab-item:not(.faviconized) tab-sound-button:active::before {
  opacity: unset;
}

tab-item.active tab-closebox:hover::before,
tab-item:not(.faviconized).active tab-sound-button:hover::before {
  background: unset;
}

tab-item tab-closebox::after {
  position: unset;
}

tab-item .burster {
  --throbber-color: var(--tab-loading-fill);
}

.highlighter::before,
tab-item:not(.faviconized).subtree-collapsed.some-descendants-highlighted .highlighter::after,
tab-item:not(.faviconized).subtree-collapsed.all-descendants-highlighted .highlighter::after {
  display: unset;
}

:root.left tab-item:not(.faviconized) .contextual-identity-marker {
  right: unset;
}

:root.right tab-item:not(.faviconized) .contextual-identity-marker {
  left: unset;
}

tab-item.faviconized .contextual-identity-marker {
  bottom: unset;
  top: unset;
}

.after-tabs button.newtab-action-selector-anchor::after,
.after-tabs button.contextual-identities-selector-anchor::after {
    margin-top: unset;
}

/** END **/




:root {
  --tab-border-radius-size: 0.35em; /* proton */
  --tab-dropshadow-blur: 0 !important;
  --tab-dropshadow-padding: 0 !important;
  --tab-closebox-offset: 0 !important;
  --tab-closebox-negative-offset: 0 !important;
  --tab-animation: 
    background var(--color-animation), 
    bottom var(--collapse-animation), 
    color var(--color-animation), 
    left var(--collapse-animation), 
    margin-bottom var(--collapse-animation), 
    margin-top var(--collapse-animation), 
    max-height var(--collapse-animation), 
    max-width 0s, 
    min-height var(--collapse-animation), 
    min-width 0s, 
    opacity var(--collapse-animation), 
    padding var(--collapse-animation), 
    right var(--collapse-animation), 
    top var(--collapse-animation);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-default: var(--dark-toolbar);
    --context-menu-background-color-default: #3b3b3b;
    --sidebar-background-color-default: #3B3B3B;
	--tab-hover-background: #ffffff45;
    --tab-sidebar-border-default-color: #686868;
    --toolbar-non-lwt-bgcolor: rgb(66,65,77);
    --contextual-identity-brightness: 115%;
    --b-top: gray;
  }
}
@media not (prefers-color-scheme: dark) {
  :root {
    --bg-default: var(--grey-10);
    --context-menu-background-color-default: #F7F7F7;
    --tab-hover-background:#0000000F;
    --tab-sidebar-border-default-color: #B8B8B8;
    --sidebar-background-color-default: #F7F7F7;
    --contextual-identity-brightness: 85%;
    --b-top: lightgray;
  }
}


/** Main body layout **/


:root{
  --scrollbar-placeholder-size: 1.2em;
  --favicon-size: 16px;
  --color-animation: 0s ease-out;
  --scrollbar-placeholder-size: 10px;
  --separator-pinned-overflow-tabs: calc(100% - calc(var(--tab-margin-left) * 2));
  --subpanel-header-height: 28px;
  --subpanel-toggler-font-size: 8px;
  --subpanel-toggler-width: 20px;
  --tab-border-radius-size: 0.35em;
  --tab-dropshadow-size: 0.2em;
  --tab-margin-left: 0.65em;
  --tab-margin-right: var(--tab-margin-left);
  --tab-dropmarker-size: 2px;
  --tab-item-substance-height: 32px;
  --after-tabs-area-size: calc(var(--tab-item-substance-height) + calc(var(--tab-margin-left)*2)) !important;
  --newtab-button-box-width: 100%;
  --tab-sound-button-icon-size: 85%;
  --sound-button-size: 20px;
  --tabbar-margin-top: calc(var(--pinned-tabs-area-size) + 5px);
  overflow: hidden;
}
* {
  font-family: Arial, sans-serif !important;
}


/** Container background **/

:root,
body,
#background {
  background: none !important;
}
:root.right #background::before {
  background-position: right;
}
#background::before {
  background: var(--browser-bg-images, none);
  background-position: var(--browser-bg-position, left);
  background-size: var(--browser-bg-size, auto);
  background-repeat: var(--browser-bg-repeat, none);
}
#background::before,
#background::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}
#background::after {
  opacity: 0.5;
  background: var(--theme-colors-toolbar, var(--tabbar-bg, var(--bg-default))) !important;
}

/*******
Tab Bar
********/


#tabbar-container {
  transition: none;
}
.have-pinned-tabs #tabbar-container::before {
  content: "";
  position: absolute;
  top: var(--tabbar-margin-top);
  opacity: 0.5;
  border-top: 1px solid var(--tab-text);
  width: var(--separator-pinned-overflow-tabs) !important;
  left: var(--tab-margin-left);
}
:root.left #tabbar {
  direction: ltr;
}
:root.right #tabbar {
  direction: rtl;
}
:root.have-pinned-tabs #tabbar {
  margin-top: calc(var(--tabbar-margin-top) + 4px);
}
#tabbar.overflow {
  bottom: calc(calc(var(--after-tabs-area-size) + var(--tabbar-bottom-area-size)) - 5px);
  scroll-padding: 1.5px 0px;
}
#all-tabs {
  position: relative;
  scroll-padding: 1.5px 0px;
}
#tabbar.overflow #all-tabs {
  padding-right: 0.5em;
}
.tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4px 0 4px var(--tab-margin-left);
}
#tabbar.overflow .tabs {
  margin-top: 0px;
}
.tabs-spacer {
  display: none !important;
}
#tabbar.overflow ~ .after-tabs {
  margin-right: calc(var(--tab-margin-right) + 0.5em);
}


/** Tab Items **/


tab-item {
  --faviconized-tab-size: 32px;
  --tab-size: 32px;
  --tab-margin-top: 1.5px;
  --tab-max-width-inline-block: calc(100% - calc(var(--tab-margin-left) + var(--tab-indent)));
  border-radius: var(--tab-border-radius-size) !important;
  overflow: visible;
  height: var(--tab-size);
  max-width: var(--tab-max-width-inline-block);
  margin-left: var(--tab-indent);
  scroll-padding: 1.5px 0px;
}
tab-item:not(.collapsed):not(.faviconized) {
  display: inline-block;
  margin-top: 1.5px;
  margin-bottom: 1.5px;
}
tab-item:not(.group-tab):not(.faviconized) {
  min-width: var(--tab-max-width-inline-block);
}
tab-item-substance {
  margin: 0 !important;
  min-width: var(--tab-size);
}
tab-item-substance,
tab-item-substance .background,
tab-item-substance .contextual-identity-marker {
  border-radius: var(--tab-border-radius-size);
}

tab-item.active tab-item-substance,
tab-item.in-visible-area.active tab-item-substance {
  box-shadow: 
    0 0.2em 0.5em var(--browser-tab-highlighter, var(--tab-active-border-near, var(--in-content-category-background-selected-active))),
    0 0 0.1em var(--browser-tab-highlighter, var(--tab-active-border-far, var(--in-content-category-background-selected-active)));
  outline: 1px solid var(--theme-colors-tab_line);
}
.group-tab.active > tab-item-substance {
  outline: 2px solid var(--theme-colors-tab_line);
}
.bundled-active tab-item-substance,
.bundled-active.in-visible-area tab-item-substance {
  box-shadow: 
    0 0.2em 0.5em var(--browser-tab-highlighter, var(--tab-active-border-near, var(--in-content-category-background-selected-active))),
    0 0 0.1em var(--browser-tab-highlighter, var(--tab-active-border-far, var(--in-content-category-background-selected-active)));
}
tab-item:not(.group-tab).active tab-item-substance,
tab-item:not(.group-tab).active tab-item-substance:hover,
tab-item:not(.group-tab).bundled-active tab-item-substance,
tab-item:not(.group-tab).bundled-active tab-item-substance:hover,
.mutiple-highlighted > tab-item:not(.group-tab).highlighted tab-item-substance,
.mutiple-highlighted > tab-item:not(.group-tab).highlighted tab-item-substance:hover {
  --tab-surface: var(--tab-surface-active);
  --tab-surface-bgimage: var(--tab-surface-active-bgimage);
  --tab-text: var(--tab-text-active);
  --tab-text-inverted: var(--tab-text-active-inverted);
}
tab-item:not(.active):not(.bundled-active):not(.highlighted) tab-item-substance:hover,
tab-item:not(.active):not(.bundled-active):not(.highlighted) tab-item-substance:focus{
  --tab-surface: var(--tab-text-regular);
  --tab-text: var(--tab-text-regular);
}
tab-item:not(.active):not(.bundled-active):not(.highlighted) tab-item-substance .background {
  opacity: 0;
}
tab-item:not(.active):not(.bundled-active):not(.highlighted) tab-item-substance:hover .background {
  opacity: 0.15;
  transition: opacity 0.3s;
}
tab-item.dragging {
  opacity: 1.0 !important;
}

tab-item[data-drop-position="self"] tab-item-substance {
  outline: unset !important;
}
tab-item[data-drop-position="self"]:not(.faviconized),
tab-item[data-drop-position="self"].faviconized tab-item-substance {
  outline: var(--tab-dropmarker-size) solid var(--tab-dropmarker) !important;
}
tab-item-substance::before {
  display: none !important;
}
tab-item[data-drop-position]:not([data-drop-position="self"])::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
tab-item[data-drop-position="before"]:not(.faviconized)::before {
  border-top: var(--tab-dropmarker-size) solid var(--tab-dropmarker);
}
tab-item[data-drop-position="after"]:not(.faviconized)::before {
  border-bottom: var(--tab-dropmarker-size) solid var(--tab-dropmarker);
}

.discarded tab-item-substance {
  opacity: 0.4;
}
.discarded:hover tab-item-substance {
  opacity: 0.8;
}

/** Pinned Tabs **/
.pinned {
  --pinned-position-right: 0.65em !important;
  --tab-max-width-inline-block: calc(100% - calc(var(--tab-margin-left) * 2));
  --visual-gap-offset: var(--tab-margin-left) !important;
  margin-left: var(--tab-margin-left) !important;
}
tab-item.pinned:not(.in-visible-area) {
  visibility: collapse !important;
}

/** Icon-Only Pinned Tabs **/

/*Workaround - https://github.com/piroor/treestyletab/issues/1704#issuecomment-362404420*/
:root {
  --fav-tab-size: calc(calc(var(--tab-size) + var(--tab-margin-left))/1.75) !important;
}
#dummy-favicon-size-box {
  min-width: var(--fav-tab-size) !important;
  min-height: var(--fav-tab-size) !important;
}
.faviconized {
  border: 1px solid rgb(0,0,0,0); /**debug purposes only**/
}
.faviconized tab-item-substance {
  min-height: var(--tab-size);
  min-width: var(--tab-size);
  padding: 0 !important;
  position: relative;
}
.faviconized .background,
.faviconized .contextual-identity-marker {
  --contextual-identity-marker-margin: unset !important;
  --contextual-identity-marker-width: 100%;
  position: absolute;
}

.faviconized[data-drop-position]:not([data-drop-position="self"]) tab-item-substance::before {
  display: block;
  width: 100%;
  position: absolute;
  content: "";
  z-index: 1000 !important;
}
.faviconized[data-drop-position="before"]::before {
  border-left: var(--tab-dropmarker-size) solid var(--tab-dropmarker);
}
.faviconized[data-drop-position="after"]::before {
  border-right: var(--tab-dropmarker-size) solid var(--tab-dropmarker);
}


/* group tab */


.group-tab {
  --tab-size: 24px;
  --tab-margin-top: 4px;
  --tab-margin-bottom: 4px;
  --tab-group-max-width-inline-block: calc(var(--tab-max-width-inline-block) - calc(8px + 48px));
  overflow: visible;
  max-width: var(--tab-group-max-width-inline-block);
  height: var(--tab-size);
  margin-left: calc(4px + var(--tab-indent)) !important;
}
.group-tab:not(.collapsed) {
  margin-top: var(--tab-margin-top) !important;
  margin-bottom: var(--tab-margin-bottom) !important;
}
.group-tab.collapsed {
  margin: unset !important;
  height: 0;
}
.group-tab tab-item-substance {
  display: flex !important;
  height: 100%;
  padding: 0 !important;
  position: relative;
}
.group-tab tab-item-substance * {
  color: var(--tab-text-active-inverted) !important;
}
.group-tab .background,
.group-tab .contextual-identity-marker {
  background: var(--tab-text);
}
.group-tab .twisty {
  --favicon-size: none;
  position: absolute !important;
  width: 100%;
  height: 100%;
}
.group-tab .twisty::before {
  --favicon-size: 9px !important;
  --svg-small-icon-size: 9px !important;
  position: absolute;
  margin: 0 !important;
  translate: 85% calc(calc(24px/2) - calc(9px/1.75));
  transform: rotateZ(0deg) scale(1.0) !important;
  transform-origin: 100% 100%;
  border-radius: 2px;
  background: linear-gradient(315deg, var(--tab-text-active-inverted, black) 50%, transparent 0) !important;
  mask: none !important;
  transition: transform 0.05s ease-in !important;
}
.group-tab.subtree-collapsed tab-twisty::before {
  transform: rotateZ(-45deg) translateY(-30%) translateX(30%) !important;
  transition: transform 0.05s ease-in !important;
}
.group-tab .favicon,
.group-tab .extra-items-container:not(.indent),
.group-tab[data-child-ids]:not(.subtree-collapsed) .closebox {
  display: none !important;
}
.group-tab .closebox {
  position: absolute !important;
  left: 0;
  bottom: 12.5%;
  margin-left: calc(100%);
}
.group-tab:not(.faviconized) .sound-button::after {
  background: var(--tab-text-active-inverted);
}
.group-tab .contextual-identity-marker {
  filter: brightness(var(--contextual-identity-brightness)) !important;
}
.group-tab:not(.has-sound-playing-member) .label {
  margin-left: 8px;
}
.group-tab[data-child-ids]:not(.subtree-collapsed) .label,
.group-tab .counter {
  margin-right: 8px;
}
.group-tab.some-descendants-highlighted .label,
.group-tab[data-child-ids]:not(.has-sound-playing-member) .label,
.group-tab.highlighted:not(.subtree-collapsed)[data-child-ids] .label,
.group-tab .sound-button {
  margin-left: var(--tab-size);
}

.group-tab .indent{
  left: unset !important;
  right: 0 !important;
  top: unset !important;
  bottom: unset !important;
  margin-right: var(--tab-margin-right);
  position: absolute !important;
  float: right !important;
  width: 18px !important;
  height: 18px !important;
  z-index: 1000000 !important;
  color: var(--tab-text);
  justify-content: center;
  border-radius: 0.25em;
  display: none;
}
.group-tab .indent::before {
  position: absolute;
  content:"";
  height: inherit;
  width: inherit;
}
.group-tab .indent:hover::before {
  background: var(--tab-text);
  opacity: 0.2;
}
.group-tab .indent::after {
  font: normal normal bold 1em sans-serif;
  content: "\2026" !important;
}
.group-tab .background {
  opacity: 0.9;
}


/***********
Tab contents
************/

/** Tab Background **/

.background {
  background-color: var(--tab-surface);
  background-image: var(--tab-surface-bgimage);
}

/* YES ITS "MUTiple not MULTiple*/
.mutiple-highlighted > .highlighted .background,
.mutiple-highlighted > .highlighted .contextual-identity-marker {
  outline: 2px solid var(--focus-outline-color);
  outline-offset: -2px;
}
.highlighted.active .background {
  outline-width: 4px;
  outline-offset: -4px;
}
tab-item {
  color: var(--tab-text);
}
tab-item.removing, tab-item:not(.pinned).collapsed, tab-item.duplicating {
  margin-top: calc(0px - var(--tab-current-size) - var(--tab-margin-bottom));
  pointer-events: none;
  z-index: var(--invisible-z-index);
}

.highlighter {
  width: 2px;
  height: calc(var(--tab-size) + 3px) !important;
}
.highlighter::before {
  display: none !important;
}
tab-item:not(.collapsed):not([data-level="0"]):not(.pinned) .highlighter {
  position: absolute;
  translate: calc(0em - var(--tab-margin-left)) -1.5px;
  background: var(--tab-text);
}
tab-item.active:not(.collapsed):not([data-level="0"]):not(.pinned) .highlighter {
  background: var(--tab-highlighter);
}
tab-item.group-tab:not(.collapsed) .highlighter {
  height: calc(var(--tab-size) + 9px) !important;
  translate: calc(0em - calc(var(--tab-margin-left) + 4px)) -4px;
}


tab-item:not(.group-tab) .twisty {
  --favicon-size: var(--tab-size);
  margin-right: calc(0em - var(--favicon-size));
  display: flex;
  align-items: center;
  transition: margin-right 0.2s ease;
}
tab-item:not(.collapsed).subtree-collapsed:not(.group-tab) tab-twisty::before {
  transform: rotatez(-90deg) scale(1.0) !important;
}
tab-item:not(.group-tab) .twisty::before {
  margin: 0;
  margin-left: -0.1em;
  transition: margin-left 0.2s ease, transform 0.2s ease-out, opacity 0.15s ease-out !important;
}
tab-item:not(.group-tab) .twisty:hover {
  margin-right: calc(0em - calc(var(--favicon-size)/2));
  transition: margin-right 0.2s ease;
}
tab-item:not(.collapsed).subtree-collapsed:not(.group-tab) tab-twisty:hover::before {
  transform: rotatez(-90deg) scale(1.5) !important;
}
tab-item:not(.group-tab) .twisty:hover::before {
  margin: 0;
  margin-left: 0.1em;
  transform: rotatez(0deg) scale(1.5) !important;
  transition: margin-left 0.2s ease, transform 0.2s ease-out, opacity 0.15s ease-out !important;
}
.counter {
  font-size: 10px;
  line-height: 1;
  border: 1px solid;
  border-radius: 8px;
  padding: 0em 0.3em;
  margin-left: 0.3em;
}
.counter::before,
.counter::after {
  display: none;
}
tab-label {
  flex: 1 1 auto;
  height: auto;
  padding: 6px 0;
  margin-bottom: 0em;
}

.favicon {
  --favicon-size: var(--tab-item-substance-height);
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.favicon > * {
  --favicon-size: 16px;
}
.favicon .favicon-builtin.favicon-default {
  height: var(--favicon-size);
  display: flex;
}
.throbber::before {
  background: var(--tab-text) !important;
}

tab-item:not(.faviconized) .sound-button {
  margin-right: 0.1em;
}

.closebox {
  flex: 0 0 18px;
  height: 18px;
  width: 18px;
  margin-right: 0.5em;
}
.closebox::before,
.closebox::after {
  position: absolute;
  border-radius: 15%;
  content: "";
}
.closebox::before {
  height: inherit;
  width: inherit;
}
.closebox::after {
  height: 14px;
  width: 14px;
  transform-origin: 0% 0%;
  transform: translate(12.5%, 12.5%);
}
.sound-button {
  border-radius: 100% !important;
}
tab-item .sound-button::before,
tab-item .sound-button::after {
  content: "" !important;
  position: absolute !important;
  height: inherit !important;
  width: inherit !important;
  border-radius: 100% !important;
}
tab-item:not(.faviconized) .sound-button::after {
  mask-size: var(--tab-sound-button-icon-size) !important;
  mask-position: 35% 50% !important;
}
tab-item:not(.faviconized) .sound-button::after,
tab-tem:not(.faviconized) .closebox::after {
  background: currentcolor;
}
.closebox:hover::before,
.sound-button:hover::before {
  background: currentcolor !important;
  opacity: 0.15 !important;
}
.closebox:active::before,
.sound-button:active::before {
  opacity: 0.4 !important;
}

/**Order of Tab Contents**/

.favicon {
  order: 0;
}
.sound-button {
  order: 1;
}
tab-item .label {
  order: 2;
}
.counter {
  order: 3;
}

/** Contextual identity marker in tab-item **/

.contextual-identity-marker {
  z-index: 10;
  top: 0 !important;
  bottom: 0 !important;
  min-width: 100% !important;
  opacity: 0.3;
}
.active .contextual-identity-marker {
  opacity: 0.7;
}
.pinned .contextual-identity-marker {
  opacity: 0.5;
}
.discarded .contextual-identity-marker {    
  opacity: 0.2;
}
.group-tab .contextual-identity-marker {
  opacity: 1.0;
}

/**Pinned Tabs**/

.pinned .closebox,
.pinned .twisty {
  display: none !important;
}

/**Icon-Only Pinned Tabs**/

.faviconized {
  padding: 0 !important;
}
.faviconized tab-label {
  display: none !important;
}
tab-item,
tab-item.faviconized {
  --attention-marker-x-offset: unset;
  --attention-marker-y-offset: unset;
  --attention-marker-gradient: unset;
  --attention-marker-gradient-hover: unset;
}
.faviconized.unread tab-item-substance tab-favicon::before,
tab-item.attention tab-favicon::before {
  height: 6px;
  width: 6px;
  outline: 1px solid var(--tab-text);
  background: var(--tab-highlighted-glow);
  z-index: 100;
  border-radius: 100%;
  position: absolute;
  translate: 10px -8px;
}
.faviconized tab-sound-button {
  border-radius: 100%;
  background-color: var(--tab-surface-active);
  opacity: 1.0;
}
.faviconized tab-sound-button::before {
  transform: none !important;
}
.faviconized tab-sound-button::after {
  mask-size: 85% !important;
}


/** New tab button area **/


.after-tabs button,
.after-tabs [role="button"] {
  color: var(--tab-text);
  height: var(--tab-size);
  line-height: var(--tab-size);
  position: relative !important;
}
.after-tabs button:hover::before,
.after-tabs [role="button"]:hover::before {
  background-color: var(--tab-text);
  border-radius: 0.2em;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.1;
}
.after-tabs {
  height: var(--after-tabs-area-size) !important;
  margin: 0 var(--tab-margin-left) 0 var(--tab-margin-right);
}
.newtab-button-box {
  height: calc(var(--after-tabs-area-size) - 4px);
  width: var(--newtab-button-box-width);
  padding: 4px 0 var(--tab-margin-left) 0;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  align-items: start;
  position: relative;
}
.newtab-button-box::before {
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
  opacity: 0.5;
  content:"";
  background: var(--tab-text);
}
.newtab-button {
  display: flex;
  transform: translateX(16px);
  width: 100%;
  align-items: center;
}
.newtab-button::after {
  height: inherit;
  width: var(--tab-size);
  background: currentColor;
  clip-path: polygon(15px 8px, 16px 8px, 16px 15px, 23px 15px, 23px 16px, 16px 16px, 16px 24px, 15px 24px, 15px 16px, 8px 16px, 8px 15px, 15px 15px);
}
.newtab-button .extra-items-container {
  left: unset !important;
  right: unset !important;
  padding-right: calc(var(--svg-small-icon-size) * 1.25);
  flex-grow: 1;
  position: relative;
  order: 2;
  justify-content: space-between;
}
.newtab-button .extra-items-container::before {
  content: "New tab";
}
.newtab-button .extra-items-container::after {
  opacity: 0.75;
  content: "Ctrl+T";
}

.newtab-action-selector-anchor,
.contextual-identities-selector-anchor {
  padding: 0 !important;
  margin: 0 !important;
  height: 15px !important;
  border: none !important;
}

.newtab-action-selector-anchor.open::before,
.contextual-identities-selector-anchor.open::before {
  background: currentColor;
  opacity: 0.1;
  height: 100%;
  width: 100%;
}


/**Bottom Tab Bar Area**/


#subpanel-container.collapsed {
  pointer-events: none;
  cursor: auto;
}
#subpanel-header {
  border-top: 1px solid var(--tab-border, var(--theme-colors-sidebar_border));
  padding: 0;
  margin-bottom: 0.1em;
  height: var(--subpanel-header-height);
}
#subpanel-container:not(.collapsed) #subpanel-header {
  border-bottom: none;
  box-shadow: 0 1px 0 var(--tab-border, var(--theme-colors-sidebar_border));
}
#subpanel-header-main,
#subpanel-toggler {
  pointer-events: auto;
}
#subpanel-header > * {
  height: var(--subpanel-header-height);
}
#subpanel-header-main {
  flex-grow: 0;
  padding: 2px;
  width: auto;
}
#subpanel-selector-anchor {
  position: relative;
  padding: 0;
  width: inherit;
}
#subpanel-selector-anchor > .icon {
  margin: 0 8px;
}
#subpanel-toggler {
  position: relative;
  padding: 2px;
  width: var(--subpanel-toggler-width);
  max-width: none;
  justify-content: center;
}
#subpanel-toggler::before{
  position: absolute;
  height: auto;
  width: auto;
  margin: 0;
}

/** for buttons **/

#subpanel-selector-anchor::before,
#subpanel-selector-anchor.open::before, 
#subpanel-toggler::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  z-index: -1;
}
#subpanel-toggler::after {
  position: relative;
}
#subpanel-selector-anchor:hover::before,
#subpanel-selector-anchor.open::before,
#subpanel-toggler:hover::after {
  background: var(--tab-text);
  opacity: 0.1;
}



/*************************
Context menu/popup theming
*************************/

.menu-ui {
  box-shadow: none !important;
  padding: 8px !important;
  border-color: var(--context-menu-border-color);
  border-radius: calc(var(--tab-border-radius-size)*2);
  border-width: 1px ;
  border-style: solid;
  --menu-ui-background-color: var(--context-menu-background-color);
  --menu-ui-text-color: var(--tab-text);
  --menu-ui-background-color-active: var(--tab-text);
  --menu-ui-text-color-active: var(--tab-text);
}
.menu-ui-marker.panel.bottom,
.menu-ui-marker.panel.top {
  display: none;
}
.menu-ui > li:not(.separator) {
  height: 32px !important;
  line-height: 32px !important;
  min-width: 128px;
  padding: 0em 6px;
}
#tabContextMenu > li.separator {
  padding: 0px 0px !important;
  margin: 4px 0px !important;
  border: none;
  height: 1px !important;
  max-height: 1px;
  background: var(--context-menu-border-color);
}
#newtab-action-selector > li,
#contextual-identities-selector > li {
  padding-left: 2.5em;
}
.menu-ui > li:focus {
  background-color: #00000000 !important;
}

ul:not(#subpanel-selector).menu-ui li::before,
#subpanel-selector li::after {
  content: "";
  border-radius: var(--tab-border-radius-size);
  display: inline-block;
  position: absolute;
  left: 8px;
  height: inherit;
  width: calc(100% - 16px);
}
#subpanel-selector > li::before {
  position: relative;
  left: 0;
}
ul:not(#subpanel-selector).menu-ui li:hover::before,
#subpanel-selector li:hover::after {
  background: var(--tab-text);
  opacity: 0.15;
}
#newtab-action-selector .icon {
  min-height: 32px !important;
  margin-left: 8px;
}
#subpanel-selector.menu-ui > li > .icon {
  margin: 0em 0.5em;
}


.rich-confirm.type-common-dialog.windows.show.shown {
  scale: 1.0;
  transition: scale 0.15s ease-in, opacity 0.15s ease-in;
}
.rich-confirm.type-common-dialog.windows.show {
  scale: 1.03;
}
.rich-confirm.windows,
.rich-confirm-row.windows {
  align-items: center !important;
}
.rich-confirm-row.windows {
  margin: 2em;
}
.rich-confirm-dialog.windows {
  border-radius: calc(var(--tab-border-radius-size)*1.75);
  min-width: 152px;
  min-width: 100%;
  max-width: 100% !important;
  max-height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: 0em 0em 1.5em rgba(0,0,0,0.25) !important;
}
.rich-confirm-dialog.windows > div,
.rich-confirm-dialog.windows > label {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}
.rich-confirm-content.windows {
  padding-top: 1.25em;
  display: flex;
  flex-direction: column;
}
.rich-confirm-content > div:last-child {
  margin-bottom: 1.5em !important;
}
.rich-confirm.windows ul {
  max-height: 70% !important;
  max-width: 100% !important;
  border: 1px inset var(--in-content-button-background-active) !important;
  border-radius: 0.3em;
}
.rich-confirm-check-label.windows {
  padding-bottom: 0.75em;
  margin: 0 !important;
}
.rich-confirm-check-checkbox {
  scale: 1.2;
  margin: 0;
}
.rich-confirm-check-message.windows {
  margin: 0 0 0 0.75em;
}
.rich-confirm-buttons.windows {
  overflow: hidden;
  flex-direction: column !important;
  box-shadow : 0 -1px 0 var(--in-content-button-background-active);
  background: var(--in-content-category-background-hover);
  padding: 0.75em 0 1.25em 0 !important;
  margin: 0 !important;
}
.rich-confirm button {
  box-shadow: 0 0.8px 1px 0 gray, 0 2px 0.9px -1.5px var(--b-top) inset;
  background: var(--in-content-page-background);
  border-radius: calc(var(--tab-border-radius-size)*0.75);
  margin: 0.5em 0 0 0 !important;
  padding: 0.4em;
  position: relative;
}
.rich-confirm.windows button[title="Close tabs"],
.rich-confirm.windows button[title="Save"],
.rich-confirm.windows button:hover[title="Close tabs"],
.rich-confirm.windows button:hover[title="Save"] {
  color: var(--in-content-page-background) !important;
  background: var(--in-content-link-color) !important;
}

.rich-confirm.windows button:hover {
  opacity: 0.8;
}
.rich-confirm.windows button:hover[title="Close tabs"],
.rich-confirm.windows button:hover[title="Save"] {
  opacity: 1;
  filter: brightness(90%);
}
.rich-confirm.windows button:active {
  opacity: 0.8;
}
.rich-confirm.windows button:active[title="Close tabs"],
.rich-confirm.windows button:active[title="Save"] {
  opacity: 0.8;
}
.rich-confirm.windows button:active {
  filter: brightness(95%);
}


/************************
Hover-over sidebar layout
************************/

@media screen and (min-width: 0px) and (max-width: 10em) {
  
  /** Main body layout **/
  
  :root {
    --separator-pinned-overflow-tabs: calc(48px - calc(var(--tab-margin-left) * 2));
    --sound-button-size: 32px;
    --newtab-button-box-width: 32px;
    --tab-sound-button-icon-size: 70%;
    --collapse-animation: 0s;
    --tab-indent-animation: unset;
  }
  #tabbar-container,
  #tabbar {
    min-width: 258px !important; /*for layout purpose!*/
    width: 258px !important;
  }
  #all-tabs,
  .tabs {
    width: 48px !important;
    max-width: 48px !important;
  }
  .group-tab {
    min-width: var(--tab-size);
    margin-right: var(--tab-margin-right);
    position: relative;
  }
  
  /** Tab items **/
  
  tab-item:not(.faviconized) {
    --tab-indent: 0em !important;
    --tab-max-width-inline-block: var(--tab-size);
  }
  /** Tab Contents **/
  
  .counter,
  tab-item:not(.group-tab) .twisty,
  .closebox,
  tab-label {
    display: none !important;
  }
  .sound-button {
  	min-width: var(--tab-size) !important;
    opacity: 1.0;
  }
  tab-item.sound-playing tab-favicon {
    visibility: collapse;
  }
  
  /** New Tab Button **/
  .newtab-button .extra-items-container,
  .newtab-action-selector-anchor,
  .contextual-identities-selector-anchor {
    display: none !important;
  }
  .newtab-button {
    transform: translateX(0px);
  }
  
  /** Subpanel/Bottom Tabbar **/
  
  #subpanel-selector-toggler,
  #subpanel-selector-anchor .label,
  #subpanel-selector-anchor::after {
    display: none !important;
  }
}