/* hides the native tabs */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

#nav-bar {
    margin-top: -28px;
	margin-right: 182px;
	margin-bottom: 0px;
}

.tab {
  margin-left: 1px;
  margin-right: 1px;
 }
 #tabbrowser-tabs { visibility: collapse !important; } 
