:root {
  --tab-min-height: unset !important;
}
#nav-bar {
  --tab-min-height: 42px !important;
  max-width: 100% !important;
  background: none !important;
}
#main-window[tabsintitlebar] #nav-bar {
  max-width: calc(100% - 188px) !important;
}
#TabsToolbar {
  --tab-min-height: 42px !important;
  justify-content: flex-end;
  display: flex;
}
#nav-bar,
#TabsToolbar,
#TabsToolbar > .titlebar-buttonbox-container,
.titlebar-buttonbox {
  min-height: var(--tab-min-height) !important;
}
.titlebar-spacer[type="pre-tabs"],
.toolbar-items,
#private-browsing-indicator-with-label,
#toolbar-menubar > .titlebar-buttonbox-container,
#main-window[privatebrowsingmode] .titlebar-spacer {
  display: none !important;
}
#TabsToolbar > .titlebar-buttonbox-container {
  visibility: visible !important;
  display: inline-block;
}
#main-window[privatebrowsingmode] .private-browsing-indicator {
  display: block !important;
}
#nav-bar {
  order: -1;
  flex-grow: 1;
  z-index: 4;
}
#toolbar-menubar {
	--tab-min-height: unset !important;
  --tabs-navbar-shadow-size: unset !important;
}
#toolbar-menubar[inactive="true"] > * {
	width: 0;
}
#toolbar-menubar > spacer {
  display: none;
}
#titlebar {
  flex-shrink: 1;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
#navigator-toolbox {
  background: none !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  border: none !important;
}
#navigator-toolbox::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: var(--toolbar-bgcolor) !important;
  opacity: 0.5;
}
#appcontent {
  border-top: 1px solid var(--chrome-content-separator-color);
}
#PersonalToolbar {
  background: none !important;
}
#PersonalToolbar,
#tab-notification-deck-template {
  flex-basis: 100%;
}