/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

#sidebar-box{
  --sidebar-width: 48px;
  --sidebar-hover-width: calc(calc(calc(var(--sidebar-width) - 0.65em) * 6) + 0.65em);
  /* If you want to adjust sidebar-hover-width, change the default number multiplied here (which is 6 - follows the number of icon-only pinned tabs) */
  --autohide-sidebar-delay: 100ms; /* Delay before hiding the sidebar */
  position: relative;
  min-width: var(--sidebar-width) !important;
  width: var(--sidebar-width) !important;
  max-width: var(--sidebar-width) !important;
  z-index:1;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-switcher-target::before{
  content: "";
  display: -moz-inline-box;
}

#sidebar-icon{ -moz-box-ordinal-group: 0 }
#sidebar-title{ display: none }
#sidebar-box[positionend]{ direction: rtl }
#sidebar-box[positionend] > *{ direction: ltr }

#sidebar-box[positionend]:-moz-locale-dir(rtl){ direction: ltr }
#sidebar-box[positionend]:-moz-locale-dir(rtl) > *{ direction: rtl }

#main-window[sizemode="fullscreen"] #sidebar-box{ --sidebar-width: 1px; }

#sidebar-splitter{ 
  display: none !important;
}

#sidebar-header{ overflow: hidden; color: var(--chrome-color, inherit) !important}

#sidebar{
  transition: box-shadow 0.1s linear, min-width 75ms linear var(--autohide-sidebar-delay) !important;
  min-width: var(--sidebar-width) !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) !important;
  will-change:  min-width !important;
}
#sidebar:hover{
  min-width: var(--sidebar-hover-width) !important;
  transition-delay: 250ms !important;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25) !important;
}

#sidebar-box {
  box-shadow: 0 20px 0 rgba(0, 0, 0, 0.25) !important;
  transition: box-shadow 0.1s linear !important;
}

#sidebar-box:hover {	
  box-shadow: 3px 32px 6px rgba(0, 0, 0, 0.2) !important;
}

.sidebar-panel{
  background-color: transparent !important;
  color: var(--newtab-text-primary-color) !important;
}

.sidebar-panel #search-box{
  -moz-appearance: none !important;
  background-color: rgba(249,249,250,0.1) !important; 
  color: inherit !important;
}

/* Add sidebar divider and give it background */

#sidebar,
#sidebar-header{
  background-color: var(--toolbar-bgcolor) !important;
  border-inline: 1px solid rgb(80,80,80);
  border-inline-width: 0px 1px;
}

#sidebar-box:not([positionend]) > :-moz-locale-dir(rtl),
#sidebar-box[positionend] > *{
  border-inline-width: 1px 0px;
}

/* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */

#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel{ inset-inline: auto 0px !important; }
#sidebar-box:not([positionend]):hover ~ #appcontent #statuspanel-label{ margin-inline: 0px !important; border-left-style: solid !important; }